@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif; /*the font applies to all text in the html files*/
}
p {
    color:#666565; /*the font color of all text contained in p tags is slightly lighter than the font color of h1 tags*/
    font-size:20px;
    padding:15px;
    margin-left:5vw;
    margin-right:5vw;
}
h1 {
    color:#5c5c5c; /*the font color of all text contained in h1 tags is a dark grey (close to black)*/
    font-size:30px;
    padding:20px;
    margin-left:5vw;
    margin-right:5vw;
}

/* a {
    border-radius:20px; makes images rounded, but might interfere with the nav bar code, so I commented it out
} */

/*the following code is mainly for the nav bar, feel free to change the colors*/
body {
    background-color:#f5f5f5; /*the background color is a very light grey*/
    top:0px;
    left:0px;
    margin:0px;
    display:block;
    padding-left: 25%;
    padding-right: 25%;
    /*position:absolute;*/
}
.navbar {
    overflow: hidden;
    background-color: #7a7a7a;
    top:0px;
    right:0px;
    margin:0px;
    width:100vw;
    display:block;
    /*position:absolute;*/
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #1E6969;
    text-align: center;
    /*padding: 14px 16px;*/
    padding:0px 0px;
    text-decoration: none;
    top:0px;
    right:0px;
    margin:0px;
    /*position:absolute;*/
}

.dropdown {
    float: right;
    overflow: hidden;
}

.icon {
    float: left;
    font-size:16px;
    outline: none;
    color:#ededed;
    padding:14px 16px;
    background-color:inherit;
    min-width:160px;
    margin: 0;
    left:0px;
    border:none;
    position:fixed;
    z-index:2;
    text-align:center;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ededed;
    padding: 14px 16px;
    background-color: inherit;
    min-width:160px;
    /*font-family: inherit;*/
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #8c8c8c;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #454545;
    min-width: 160px;
    /*min-height:130px;*/
    color:#ededed;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: #ededed;
    padding: 12px 16px;
    text-decoration: none;
    /*background-color:#454545;*/
    background-color:#787878;
    display: block;
    text-align: center;
    z-index: 2;
    /*min-height:130px;*/
}

.dropdown-content a:hover {
    background-color: #525252;
    display:block;
    z-index: 2;
    color:#ededed;
    /*min-height:130px;*/
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index:2;
    color:#ededed;
    /*min-height:130px;*/
}
/* copy and paste the following div classes into the top of the body section for the nav bar to show up
<body>
		<div class="navbar">
		  <div class="dropdown">
		  	<img class='icon' src='laptop.png'> add this line in for the icon
		    <button class="dropbtn">Dropdown 
		      <!--<i class="fa fa-caret-down"></i>-->
		    </button>
		    <div class="dropdown-content">
		      <a href="#">Link 1</a>
		      <a href="#">Link 2</a>
		      <a href="#">Link 3</a>
		    </div>
		  </div> 
		</div>
</body> */
	</body> */

a {
    border-radius:20px; /*makes the edges of an image rounded*/
}

/* .divclass { if the group decides to make a nav bar with only one color
    width:100%;
    height:100vh;
    position:absolute;
    color:#1E6969;
    background-color:#7a7a7a;
} */
/* The nav bar color would be #7a7a7a, for the nav bar, a div with a class or id should be added in the html file(s) */

#nav1 {
  position: fixed; 
  top: 0%; 
  background: rgba(202,202,202,1); 
  width: 100%; 
  height:60px;   
  border-radius: 25px; 
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
}

#nav2 {
  position: fixed; 
  top: 0%; 
  right: 0%; 
  background: linear-gradient(45deg, rgba(202,202,202,1) 35%, rgba(123,123,123,1) 100%); 
  width: calc(100% - 335px); 
  height: 60px;
}

#logo1 {
  position: relative; 
  left: 10px; 
  bottom: 22px;
}

#logo2 {
  position: absolute; 
  left: 10px; 
  top: 20px;
}

#select1 {
  position:absolute; 
  left: 20%;
}

#select2 {
  position:absolute; 
  left: 40%;
}

#select3 {
  position:absolute; 
  left: 60%;
}

#qtext1 {
  position:relative; 
  right: 5%;
}

#quote1 {
  position:relative; 
  top: 100px; 
  float: right; 
  font-size: 1.5em;
}

#text1 {
  position:relative; 
  top: 100px; 
  margin-right: 5%; 
  margin-left: 15%;
}

/* a {
    border-radius:20px; makes images rounded, but might interfere with the nav bar code, so I commented it out
} */

/*the following code is mainly for the nav bar, feel free to change the colors*/

