@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif; /*the font applies to all text in the html files*/
}
p {
    color:#666565; /*the font color of all text contained in p tags is slightly lighter than the font color of h1 tags*/
    font-size:20px;
    padding:15px;
}
h1 {
    color:#5c5c5c; /*the font color of all text contained in h1 tags is a dark grey (close to black)*/
    font-size:30px;
    padding:20px;
}
body {
    background-color:#f5f5f5; /*the background color is a very light grey*/
}
a {
    border-radius:20px; /*makes the edges of an image rounded*/
}

/* .divclass { if the group decides to make a nav bar with only one color
    width:100%;
    height:100vh;
    position:absolute;
    color:#1E6969;
    background-color:#7a7a7a;
} */
/* The nav bar color would be #7a7a7a, for the nav bar, a div with a class or id should be added in the html file(s) */
